/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors.scss';
@import './assets/styles/var.scss';

$costar-dark-blue: #033871;
$costar-blue: #0559b3;
$costar-medium-blue: #88b5e5;
$costar-light-blue: #cae3fe;
$white: #ffffff;
$off-white: #f8f8f8;
$ultra-light-gray: #f2f2f2;
$light-gray: #e6e6e6;
$gray: #c2c2c2;
$medium-gray: #797979;
$dark-gray: #3c3c3c;
$black: #000000;
$costar-error: #ffbfbe;
$costar-alert: #ec4a08;


app-badge {
	div.badge {
		height: 16px;
		min-width: 16px;
		border-radius: $std-padding;
		border: $std-border;
		padding: $std-padding / 4;
		font-size: 12px;
		text-align: center;
		box-sizing: border-box;
		display: inline-flex;
		justify-content: center;
		align-items: center;

		&.primary {
			color: white;
			&.costar {
				background: $costar-blue;
				border-color: $costar-blue;
			}

			&.error {
				background: $costar-alert;
				border-color: $costar-alert;
			}
		}

		&.secondary {
			background: white;
			&.costar {
				color: $costar-blue;
				border-color: $costar-blue;
			}

			&.error {
				color: $costar-alert;
				border-color: $costar-alert;
			}
		}
		&.tertiary {
			background: white;
			&.costar {
				color: $dark-gray;
				border-color: $dark-gray;
			}
		}
	}
}

app-chip {
	div.chip {
		height: 24px;
		min-width: 16px;
		border-radius: 14px;
		border: $std-border;
		padding: $std-padding / 2 $std-padding;
		font-size: 14px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		box-sizing: border-box;
		display: inline-flex;
		justify-content: center;
		align-items: center;

		&.primary {
			color: white;
			&.costar {
				background: $costar-blue;
				border-color: $costar-blue;
			}

			&.error {
				background: $costar-alert;
				border-color: $costar-alert;
			}
		}

		&.secondary {
			background: white;
			&.costar {
				color: $costar-blue;
				border-color: $costar-blue;
			}

			&.error {
				color: $costar-alert;
				border-color: $costar-alert;
			}
		}
		&.tertiary {
			background: white;
			&.costar {
				color: $dark-gray;
				border-color: $gray;
			}
		}
	}
}

app-dropdown {
	div.dropdown-field {
		width: 252px;
		font-family: Helvetica;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $dark-gray;

		div.dropdown-field-label {
			margin-bottom: $std-padding / 2;
		}

		div.dropdown-field-value {

			dx-select-box {
				height: $std-padding * 4;



				div.dx-dropdowneditor-input-wrapper {
					&:focus {
						outline: none;
					}

					div.dx-texteditor-container {
						&:focus {
							outline: none;
						}
					}
				}
			}
		}
	}
}

app-list-page {
	div.list-page {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		overflow: hidden;

		div.list-page-controls-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: $std-padding;
			font-size: 14px;

			&>div {
				display: flex;
				align-items: center;
				z-index: 500;

				&.controls-left {
					mat-form-field.mat-form-field, dx-button {
						margin-right: $dbl-padding;
					}

					h1, h2, h3, h4, h5, h6 {
						margin: 0px;
					}
				}

				&.controls-right {
					dx-button, dx-text-box {
						margin-left: $dbl-padding;
					}
				}
			}

			dx-button {
				font-size: 14px;
			}

			mat-form-field {
				&.mat-form-field {

					&.mat-form-field-appearance-outline {
						div.mat-form-field-wrapper {
							padding: 0px;
							margin: 0px;
						}
					}
				}
			}
		}

		div.list-page-data-grid-wrapper {
			display: flex;
			flex-grow: 1;
			overflow-y:auto;
			flex-direction: column;
		}
	}
}

dx-text-box {
	height: $std-padding * 4;
	width: 252px;
}

div.dx-placeholder {
	font-size: 14px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	top: -5px;
}

.dx-texteditor.dx-editor-outlined {
	border-radius: 2px;
	box-shadow: none;
	background: $white;
	border: $std-border;

	&.dx-state-focused {
		box-shadow: none;
	}
}

.dx-dropdowneditor-icon, .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
	color: $costar-blue;
	font: 24px/20px DXIcons;
}

div.dx-item.dx-list-item {
	&:hover {
		background-color: $costar-light-blue;
	}
	&.dx-list-item-selected {
		background-color: $costar-blue !important;
		color: $white !important;
	}
}

div.dx-overlay-wrapper.dx-dropdowneditor-overlay.dx-dropdownlist-popup-wrapper.dx-selectbox-popup-wrapper {
	box-shadow: 0 0 4px 0 $costar-blue;
  	border-top: solid 1px $costar-blue;
  	border-left: solid 1px $costar-blue;
  	border-right: solid 1px $costar-blue;

  	div.dx-overlay-content.dx-popup-normal {
  		box-shadow: 0 0 4px 0 $costar-blue;
		border-bottom: solid 1px $costar-blue;
		border-left: solid 1px $costar-blue;
		border-right: solid 1px $costar-blue;
  	}
}


.dx-datagrid-headers .dx-datagrid-table .dx-row > td[role="columnheader"] {
	background: $light-gray !important;
	height: 28px !important;
	padding: 0px 5px 0px 10px !important;
	color: $costar-blue !important;
	font-weight:bold !important;
	font-size:12px !important;
	font-family: Helvetica, sans-serif !important;
	border:none !important;
}
	.dx-datagrid-headers .dx-datagrid-table .dx-row > td:hover{
		color: $costar-dark-blue !important;
	}

	.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td[role="gridcell"] {
		padding: 0px 5px 0px 10px !important;
		height: 28px !important;
		font-size:12px !important;
	font-family: Helvetica, sans-serif !important;
	border:none !important;
}
path.dxb-bar-value {
	fill: $costar-blue !important;
}
.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection {
	font-weight: bold !important;
	font-size: 12px !important;
	background-color: $costar-blue !important;
	color: #fff;
}
.dx-button-content {
  padding: 0px !important;
}

dx-button.dx-button {
  font-family: Helvetica;
  /* font-weight: 400; */
  padding: 8px !important;
  border-radius: 2px;
  color: #fff;
  font-size: 14px !important;
  max-width: fit-content;
  min-width: fit-content;
  box-shadow: none;
  height: fit-content;
  padding: 8px !important;
}
 .dx-button-costar.dx-button-mode-outlined {
  border: 1px solid $costar-blue !important;
  color: $costar-blue !important;
  padding: 5px !important;
  border-radius: 2px !important;
}

i.dx-icon {
  font-size: 14px !important;
}
.dx-button-costar.dx-button-mode-contained {
  color: white !important;
  background: $costar-blue !important;
  .dx-button-content {
    i.dx-icon{
      color: white !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
  }
}
.dx-button-costar.dx-button-mode-outlined {
  color: $costar-blue !important;
  background: white !important;
  border: 1px solid $costar-blue ;
  .dx-button-content {
    i.dx-icon{
      color: $costar-blue !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
  }
}
.dx-button-costar.dx-button-mode-text {
  color: $costar-blue !important;
  background: white !important;
  .dx-button-content {
    i.dx-icon{
      color: $costar-blue !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
  }
}
.dx-button-costar.dx-button-mode-text.dx-state-disabled {
  color: $dark-gray !important;
  background: white !important;
  .dx-button-content {
    i.dx-icon{
      color: $dark-gray !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
.dx-button-text{
  color: $dark-gray !important;
}
  }
}
.dx-button-costar.dx-button-mode-outlined.dx-state-disabled {
  color: $dark-gray !important;
  background: white !important;
  border: 1px solid $dark-gray!important;
  .dx-button-content {
    i.dx-icon{
      color: $dark-gray !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
.dx-button-text{
  color: $dark-gray !important;
}
  }
}
.dx-button-costar.dx-button-mode-contained.dx-state-disabled{
  color: white !important;
  background: $dark-gray !important;
  .dx-button-content {
    i.dx-icon{
      color: white !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
.dx-button-text{
  color: white !important;
}
  }
}
.dx-button-alert.dx-button-mode-contained {
  color: white !important;
  background: $costar-alert !important;
  .dx-button-content {
    i.dx-icon{
      color: white !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}

  }
}
.dx-button-alert.dx-button-mode-outlined {
  color: $costar-alert !important;
  background: white !important;
  border: 1px solid $costar-alert !important;
  .dx-button-content {
    i.dx-icon{
      color: $costar-alert !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}

  }
}
.dx-button-alert.dx-button-mode-text{
  color: $costar-alert !important;
  background: white !important;
  .dx-button-content {
    i.dx-icon{
      color: $costar-alert !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
  }
}
.dx-button-alert.dx-button-mode-text.dx-state-disabled {
  color: $dark-gray !important;
  background: white !important;
  .dx-button-content {
    i.dx-icon{
      color: $dark-gray !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
.dx-button-text{
  color: $dark-gray !important;
}
  }
}
.dx-button-alert.dx-button-mode-outlined.dx-state-disabled {
  color: $dark-gray !important;
  background: white !important;
  border: 1px solid $dark-gray !important;
  .dx-button-content {
    i.dx-icon{
      color: $dark-gray !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
.dx-button-text{
  color: $dark-gray !important;
}
  }
}
.dx-button-alert.dx-button-mode-contained.dx-state-disabled {
  color: white !important;
  background: $dark-gray !important;
  .dx-button-content {
    i.dx-icon{
      color: white !important;
      margin-right: 8px !important;
    margin-bottom: 4px !important;
}
.dx-button-text{
  color: white !important;
}
  }
}
.dx-button-has-text .dx-icon {
  width: 8pt !important;
  height: 8pt !important;
  background-position: 0 0;
  background-size: 12px 12px;
  margin-bottom: 2px !important;
  font-size: 14px !important;
  text-align: center !important;
  line-height: normal !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
span.dx-button-text {
  font-size: 14px;
  padding: 4px 0px 4px 0px !important;
  font-weight: 500;
  letter-spacing: normal !important;
  font-weight: normal !important;
  text-transform: none !important;
}
dx-button:hover{
opacity: .83 !important;
}
dx-button.dx-state-disabled:hover{
  opacity: 1 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Helvetica"; }
